@font-face {
    font-family: 'Oswald';
    src: url('./Oswald.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'Oswald';
    font-size: 25px;
}

.image {
    background: url('./firefox_icon.png');
    height: 437px;
    width: 474px;
}
